---
- name: Docker - Check if docker is installed
  command: docker version
  register: docker_check
  ignore_errors: yes
- name: Docker Compose - Check if docker-compose is installed
  command: docker compose version
  register: docker_compose_check
  ignore_errors: yes
- name: Create directories for Go-Ethereum
  file:
    path: "{{ item }}"
    state: directory
  with_list:
    - /var/www/bsc_geth
    - /mnt/data/bsc_mainnet
- name: Place docker-compose.yml with Geth configuration
  copy:
    src: "files/{{ item }}"
    dest: /var/www/geth
  with_list:
  - docker-compose.yml
  - config.toml
  - genesis.json
- name: Place .env file with BSC node version
  copy:
    dest: /var/www/bsc_geth/.env
    content: |
      BSC_NODE_VERSION={{ bsc_node_version }}


# - name: Run Geth node
#   block:
#     - name: Docker - Start the daemon
#       systemd:
#         name: docker
#         state: started
#         masked: no
#     - name: Start node
#       command:
#         cmd: >
#           docker compose -f /var/www/geth/docker-compose.yml up -d
#   when: 
#   - not docker_check.failed
#   - not docker_compose_check.failed
