version: '3.7'
services:
  geth:
    image: ghcr.io/rock-n-block/bsc-dockerized:${BSC_NODE_VERSION}
    restart: unless-stopped
    ports:
      - "8545:8545"
      - "8546:8546"
      - "30311:30311"
    volumes:                                                                 
      - /mnt/data/bsc_mainnet:/root/.bsc_mainnet
      - /var/www/bsc_geth/config.toml:/root/config.toml
      - /var/www/bsc_geth/genesis.json:/root/genesis.json
    command:
      --config /root/config.toml
      --datadir /root/.bsc_mainnet
      --diffsync
      --rpc.allow-unprotected-txs
      --txlookuplimit 0
      --cache 8000
